<homogenization>

[SX]
# type none
mech none

<microstructure>
[Grain01]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18
[Grain02]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18
[Grain03]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18
[Grain04]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18
[Grain05]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18
[Grain06]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18
[Grain07]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18
[Grain08]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18
[Grain09]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18
[Grain10]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18
[Grain11]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18
[Grain12]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18
[Grain13]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18
[Grain14]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18
[Grain15]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18
[Grain16]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18
[Grain17]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18
[Grain18]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18
[Grain19]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18
[Grain20]
crystallite 1
(constituent)	phase 1	texture  1	fraction 0.82
(constituent)	phase 2	texture  1	fraction 0.18

<crystallite>
[essential]
(output) texture
(output) f
(output) p
(output) orientation
(output) grainrotation


<phase>
# Tasan et.al. 2015 Acta Materalia
# Tasan et.al. 2015 International Journal of Plasticity
# Diehl et.al. 2015 Meccanica

[BCC-Ferrite]

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       bcc
Nslip                   12  12                  # per family
Ntwin                    0                      # per family
c11                     233.3e9
c12                     135.5e9
c44                     118.0e9
gdot0_slip              0.001
n_slip                  20
tau0_slip                95.e6  96.e6           # per family, optimization long simplex 109
tausat_slip             222.e6 412.7e6          # per family, optimization long simplex 109
h0_slipslip             1000.0e6
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
w0_slip                 2.25
a_slip                  1.0

[BCC-Martensite]

elasticity              hooke
plasticity              phenopowerlaw

lattice_structure       bcc
Nslip                   12  12                  # per family
Ntwin                    0                      # per family
c11                     417.4e9
c12                     242.4e9
c44                     211.1e9
gdot0_slip              0.001
n_slip                  20
tau0_slip               406.e6  457.e6        # per family
tausat_slip             873.e6  971.e6        # per family
h0_slipslip             563.0e9
interaction_slipslip    1 1 1.4 1.4 1.4 1.4
w0_slip                 2.25
a_slip                  2.0


<texture>
[Grain01]
(gauss)	phi1 233.458	Phi 92.0792	phi2 212.706	scatter 0.0	fraction 1.0
[Grain02]
(gauss)	phi1 146.99	Phi 78.9133	phi2 86.9349	scatter 0.0	fraction 1.0
[Grain03]
(gauss)	phi1 124.892	Phi 76.8308	phi2 109.128	scatter 0.0	fraction 1.0
[Grain04]
(gauss)	phi1 104.613	Phi 65.4679	phi2 55.5871	scatter 0.0	fraction 1.0
[Grain05]
(gauss)	phi1 303.745	Phi 99.1412	phi2 261.842	scatter 0.0	fraction 1.0
[Grain06]
(gauss)	phi1 88.2061	Phi 70.6309	phi2 260.617	scatter 0.0	fraction 1.0
[Grain07]
(gauss)	phi1 200.5	Phi 123.91	phi2 66.4124	scatter 0.0	fraction 1.0
[Grain08]
(gauss)	phi1 150.736	Phi 58.6459	phi2 157.471	scatter 0.0	fraction 1.0
[Grain09]
(gauss)	phi1 203.608	Phi 123.833	phi2 71.2462	scatter 0.0	fraction 1.0
[Grain10]
(gauss)	phi1 193.029	Phi 115.642	phi2 330.766	scatter 0.0	fraction 1.0
[Grain11]
(gauss)	phi1 265.696	Phi 88.7183	phi2 269.785	scatter 0.0	fraction 1.0
[Grain12]
(gauss)	phi1 155.322	Phi 15.135	phi2 301.547	scatter 0.0	fraction 1.0
[Grain13]
(gauss)	phi1 146.425	Phi 5.86394	phi2 295.4	scatter 0.0	fraction 1.0
[Grain14]
(gauss)	phi1 189.313	Phi 105.167	phi2 59.6753	scatter 0.0	fraction 1.0
[Grain15]
(gauss)	phi1 227.897	Phi 113.361	phi2 110.859	scatter 0.0	fraction 1.0
[Grain16]
(gauss)	phi1 25.3213	Phi 86.3019	phi2 185.416	scatter 0.0	fraction 1.0
[Grain17]
(gauss)	phi1 160.58	Phi 44.4484	phi2 254.209	scatter 0.0	fraction 1.0
[Grain18]
(gauss)	phi1 80.2213	Phi 126.976	phi2 154.105	scatter 0.0	fraction 1.0
[Grain19]
(gauss)	phi1 325.404	Phi 128.512	phi2 127.299	scatter 0.0	fraction 1.0
[Grain20]
(gauss)	phi1 193.347	Phi 58.2758	phi2 333.883	scatter 0.0	fraction 1.0
